<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facility_bookuitm"
        android:usesCleartextTraffic="true">

        <!-- Admin Activities -->
        <activity android:name=".admin_dashboard" android:exported="false" />
        <activity android:name=".AdminAddFacility" android:exported="false" />
        <activity android:name=".AdminUpdateFacility" android:exported="false" />
        <activity android:name=".admin_list_facility" android:exported="false" />

        <!-- User Activities -->
        <activity android:name=".user_dashboard" android:exported="false" />
        <activity android:name=".user_profile" android:exported="false" />
        <activity android:name=".user_add_reservation" android:exported="false" />
        <activity android:name=".user_reservationfacility_list" android:exported="false" />
        <activity android:name=".ReservationHistoryActivity" android:exported="false" />
        <activity android:name=".UserReservationSuccessful" android:exported="false" />

        <!-- Login -->
        <activity android:name=".LoginPage" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>